<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- begin::Head -->
<head>
</head>
<body>
<div th:fragment="menu">
    <button
            class="m-aside-left-close  m-aside-left-close--skin-light"
            id="m_aside_left_close_btn">
        <i class="la la-close"></i>
    </button>
    <div id="m_aside_left" class="m-grid__item m-aside-left m-aside-left--skin-dark">
        <div
                id="m_ver_menu"
                class="m-aside-menu m-aside-menu--skin-light m-aside-menu--submenu-skin-light"
                m-menu-vertical="1"
                m-menu-scrollable="1"
                m-menu-dropdown-timeout="500"
                style="position: relative;">
            <ul class="m-menu__nav m-menu__nav--dropdown-submenu-arrow">

            </ul>
        </div>
    </div>
</div>
</body>
</html>