<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- begin::Head -->
<head>
    <meta charset="utf-8"/>
    <title>Quản lý GVHD | FCR FPT Polytechnic</title>
    <meta name="description" content="Static table examples">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link th:href="@{/assets/vendors/base/vendors.bundle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/demo/default/base/style.bundle.css}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="https://ap.poly.edu.vn/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugin/query-ui.css}">
    <link th:href="@{/css/custom/button-icon.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/plugin/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
</head>
<!-- end::Head -->

<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

    <div th:insert="~{fragment/header-fragment :: header}"></div>

    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

        <div th:insert="~{fragment/menu-fragment-dao-tao :: menu}"></div>
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- END: Subheader -->
            <div>
                <div class="m-content">
                    <h3>Quản lý giảng viên hướng dẫn</h3>
                    <div class="mt-5">
                        <section class="fillter-area  mb-5">
                            <div class="m-portlet">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon">
                                    <i class="m-menu__link-icon flaticon-web"></i>
                                </span>
                                            <h3 class="m-portlet__head-text">
                                                Bộ lọc
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <form
                                        id="searchGvhd"
                                        method="GET"
                                        class="m-portlet__body">
                                    <div class="row">
                                        <div
                                                class="form-group d-inline col-md-6 col-12 d-flex justify-content-around align-items-center">
                                            <span for="" class="fillter-name col-4 text-center">Tên giảng viên</span>
                                            <input type="text" class="form-control col-6"
                                                   name="tenGiangVien" id="tenGiangVien" value="">
                                        </div>
                                        <div class="form-group d-inline col-md-6 col-12 d-flex justify-content-around align-items-center">
                                            <label class="fillter-name col-4 text-center">Đợt đăng ký</label>
                                            <br>
                                            <select class="form-control col-6" id="search_dot_dang_ky">
                                                <option value="">Chọn đợt đăng ký</option>
                                                <option th:each="item : ${listDotDangKy}"
                                                        th:value="${item.getId()}"
                                                        th:text="${item.getName()}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row justify-content-center pt-2">
                                        <div class="col-sm-2 col-12 text-center mt-2">
                                            <button type="button"
                                                    class="btn btn-primary" th:attr="onclick=|loadTable(0)|"
                                            >Tìm kiếm
                                            </button>
                                        </div>
                                        <div class="col-sm-2 col-12 text-center mt-2">
                                            <a href="#"
                                               class="btn btn-danger text-white" th:attr="onclick=|clearData()|">
                                                Làm mới bộ lọc
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                        <div class="m-portlet">
                            <div class="m-portlet">
                                <div class="m-portlet__body">

                                    <div class="row">
                                        <div class="col-4 d-inline float-left"
                                        >
                                            <!--     modal export      -->
                                            <div class="modal fade "
                                                 id="modal_excel"
                                                 tabindex="-1"
                                                 aria-labelledby="exampleModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel1">Export
                                                                Excel</h5>
                                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <p class="col-form-label">Định dạng file excel </p>
                                                                <select id="type_excel" class="form-control col-5">
                                                                    <option value="">Chọn kiểu file excel</option>
                                                                    <option value="xls">.xls</option>
                                                                    <option value="xlsx">.xlsx</option>
                                                                </select>
                                                                <span class="text-danger"
                                                                      id="type_excel_error"></span>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                    class="btn btn-outline-secondary btn btn-light"
                                                                    data-bs-dismiss="modal">Hủy
                                                            </button>
                                                            <button class="btn btn-primary"
                                                                    type="button"
                                                                    th:attr="onclick=|exportFile()|">Download
                                                                excel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--                                                                                                    modal mau import-->
                                            <div class="modal fade "
                                                 id="modal_import_mau"
                                                 tabindex="-1"
                                                 aria-labelledby="exampleModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel2">Export
                                                                Excel</h5>
                                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <p class="col-form-label">Định dạng file excel </p>
                                                                <select id="type_mau_import" class="form-control col-5">
                                                                    <option value="">Chọn kiểu file excel</option>
                                                                    <option value="xls">.xls</option>
                                                                    <option value="xlsx">.xlsx</option>
                                                                </select>
                                                                <span class="text-danger"
                                                                      id="mau_import_error"></span>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                    class="btn btn-outline-secondary btn btn-light"
                                                                    data-bs-dismiss="modal">Hủy
                                                            </button>
                                                            <button class="btn btn-primary"
                                                                    type="button"
                                                                    th:attr="onclick=|importFileMau()|">Download
                                                                excel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--import excel-->
                                            <div class="modal fade "
                                                 id="modal_import_excel"
                                                 tabindex="-1"
                                                 aria-labelledby="exampleModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <form id="form_import_excel" enctype="multipart/form-data">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">
                                                                    Import file excel
                                                                </h5>
                                                                <button type="button" class="close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">x</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text"
                                                                                  id="inputGroupFileAddon01">Upload</span>
                                                                        </div>
                                                                        <div class="custom-file">
                                                                            <input type="file" class="custom-file-input"
                                                                                   id="inputGroupFile01"
                                                                                   aria-describedby="inputGroupFileAddon01"
                                                                                   name="file">
                                                                            <label class="custom-file-label"
                                                                                   id="labelFile"
                                                                                   for="inputGroupFile01">Choose
                                                                                file</label>
                                                                        </div>
                                                                        <div class="input-group-append">
                                                                            <button class="btn input-group-text"
                                                                                    type="button"
                                                                                    id="mauImport"
                                                                                    data-dismiss="modal"
                                                                                    th:attr="onclick=|openModalImportMau()|"
                                                                            >
                                                                                Tải mẫu
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <label class="col-form-label">Đợt đăng ký</label>
                                                                    <select class="form-control" id="dot_dang_ky_import">
                                                                        <option value="">Chọn đợt đăng ký</option>
                                                                        <option th:each="item : ${listDotDangKy}"
                                                                                th:value="${item.getId()}"
                                                                                th:text="${item.getName()}"></option>
                                                                    </select>
                                                                    <span class="text-danger"
                                                                          id="import_excel_error"></span>
                                                                </div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                        class="btn btn-outline-secondary btn btn-light"
                                                                        data-bs-dismiss="modal">Hủy
                                                                </button>
                                                                <button
                                                                        th:attr="onclick=|importExcel()|"
                                                                        type="button" class="btn btn-primary">
                                                                    Upload
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 d-inline">
                                            <br>
                                            <button
                                                    type="button"
                                                    th:attr="onclick=|openModalAddGVHD()|"
                                                    class="btn btn-success"
                                            >
                                                Thêm giảng viên
                                            </button>
                                            <button
                                                    type="button"
                                                    class="btn btn-success"
                                                    th:attr="onclick=|openModalExport()|"
                                            >
                                                Export
                                            </button>
                                            <button type="button"
                                                    class="btn btn-success"
                                                    th:attr="onclick=|openModalImport()|"
                                            >
                                                Import
                                            </button>
                                            <div class="modal fade "
                                                 id="modal_create"
                                                 tabindex="-1"
                                                 aria-labelledby="exampleModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <form id="form_create_giang_vien">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel3">Thêm
                                                                    giảng viên</h5>
                                                                <button type="button" class="close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label class="col-form-label">Đợt đăng ký</label>
                                                                    <br>
                                                                    <select class="form-control" id="dotDangKyId">
                                                                        <option value="" hidden>Chọn đợt
                                                                            đăng kí
                                                                        </option>
                                                                        <option th:each="item : ${listDotDangKy}"
                                                                                th:value="${item.id}"
                                                                                th:text="${item.getName()}"></option>
                                                                    </select>
                                                                    <span class="text-danger"
                                                                           id="errorDotDangKy"></span><br>
                                                                    <br>
                                                                    <label class="col-form-label">Tên giảng viên</label><br>
                                                                    <input
                                                                            type="text"
                                                                            class="form-control"
                                                                            id="tenGvhd">
                                                                    <span class="text-danger"
                                                                          id="errorTenGiangVien"></span><br>
                                                                    <label class="col-form-label">Số nhóm hướng
                                                                        dẫn</label>
                                                                    <input
                                                                            type="text"
                                                                            class="form-control"
                                                                            id="soNhomHuongDanToiDa">
                                                                    <span class="text-danger" id="errorSoNhomHD"></span><br>
                                                                    <label class="col-form-label">Tên tài khoản</label>
                                                                    <input
                                                                            maxlength="20"
                                                                            type="text"
                                                                            class="form-control"
                                                                            id="tenTaiKhoan">
                                                                    <span class="text-danger"
                                                                          id="errorTenTaiKhoan"></span><br>
                                                                    <label class="col-form-label">Số điện thoại</label>
                                                                    <input
                                                                            maxlength="50"
                                                                            type="text"
                                                                            class="form-control"
                                                                            id="soDienThoai">
                                                                    <span class="text-danger" id="errorSDT"></span><br>
                                                                    <label class="col-form-label">Email Fpt</label>
                                                                    <input
                                                                            maxlength="50"
                                                                            type="text"
                                                                            class="form-control"
                                                                            id="emailFpt">
                                                                    <span class="text-danger" id="errorEmailFpt"></span><br>
                                                                    <label class="col-form-label">Email Fe</label>
                                                                    <input
                                                                            type="text"
                                                                            class="form-control"
                                                                            id="emailFe">
                                                                    <span class="text-danger" id="errorEmailFe"></span>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                        class="btn btn-outline-secondary btn btn-light"
                                                                        data-bs-dismiss="modal">Hủy
                                                                </button>
                                                                <button
                                                                        type="button"
                                                                        class="btn btn-primary"
                                                                        th:attr="onclick=|addGVHD()|"
                                                                >Thêm mới
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table-responsive mt-3">
                                        <div>
                                            <table id="custom-table"
                                                   style="text-align: center"
                                                   class="table table-bordered m-table d-sm-table m-table--head-bg-primary">
                                                <thead class="table-primary">
                                                <th width="50px">STT</th>
                                                <th>Giảng viên</th>
                                                <th>Số nhóm</th>
                                                <th>SĐT</th>
                                                <th>Email Fe</th>
                                                <th width="200px">Chức năng</th>
                                                </thead>
                                                <tbody id="searchListGvhd">
                                                <th:block th:each="giangVienHD,i : ${page.data}">
                                                    <tr class="table-light">
                                                        <td th:text="${giangVienHD.getSTT()}"></td>
                                                        <td th:text="${giangVienHD.getTenGvhd() +' - ' +giangVienHD.getTenTaiKhoan()}"></td>
                                                        <td th:text="${giangVienHD.getSoNhomDangHuongDan() + '/' + giangVienHD.getSoNhomHuongDanToiDa()}"></td>
                                                        <td th:text="${giangVienHD.getSoDienThoai()}"></td>
                                                        <td th:text="${giangVienHD.getEmailFe()}"></td>
                                                        <td>
                                                            <button
                                                                    type="button"
                                                                    class="btn_pencil_square"
                                                                    data-toggle="tooltip"
                                                                    title="Sửa "
                                                                    th:attr="onclick=|openModalUpdateGiangVien('${giangVienHD.id}','${page.currentPage}')|">
                                                                <img th:src="@{/img/pencil-square.svg}">
                                                            </button>
                                                            </button>
                                                            <button
                                                                    type="button"
                                                                    class="btn_trash"
                                                                    data-toggle="tooltip"
                                                                    title="Xóa "
                                                                    th:attr="onclick=|openModalRemoveGiangVien('${giangVienHD.id}','${page.currentPage}')|">
                                                                <img th:src="@{/img/trash.svg}">
                                                            </button>
                                                            <a type="button"
                                                               class="btn_clipboard_user"
                                                               data-toggle="tooltip"
                                                               title="Phân công giảng viên"
                                                               th:href="@{'/dao-tao/giang-vien-huong-dan/'+ ${giangVienHD.getId()}}">
                                                                <img th:src="@{/img/clipboard-user.svg}">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                                </tbody>
                                            </table>
                                            <!-- Paging-->
                                            <input hidden th:value="${page.totalPages}" id="totalPages">
                                            <input hidden th:value="${page.currentPage}" id="currentPage">
                                            <div id="page">
                                            </div>
                                        </div>
                                        <div id="empty">
                                            <div th:if="${page.data.isEmpty()}">
                                                <h3>Không có dữ liệu</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end:: Body -->
            </div>

            <!--   End Modal Update -->

            <!--  Start Modal Remove-->

        </div>
    </div>
</div>
<!--  Start Modal Update-->
<div
        class="modal fade"
        tabindex="-1"
        id="modal_update_giang_vien"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg"
         role="document">
        <div class="modal-content">
            <form id="form_giang_vien_update">
                <div class="modal-header">
                    <h5 class="modal-title">Cập nhật giảng viên</h5>
                    <button type="button" class="close"
                            data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span id="giangVienId" style="color:red;"></span>
                    <span id="update_giang_vien_item" value="" style="color:red;"></span>

                    <div class="form-group">
                        <label class="col-form-label">Đợt đăng ký</label> <br>
                        <select class="form-control" id="dot_dang_ky_update">
                            <option value="" hidden>Chọn đợt đăng kí</option>
                            <option th:each="item : ${listDotDangKy}" th:value="${item.id}"
                                    th:text="${item.getName()}"></option>
                        </select>
                        <small class="text-danger" id="errorDotDangKyUpdate"></small><br>
                        <br>
                        <label class="col-form-label">Tên giảng viên</label>
                        <input
                                type="text"
                                class="form-control"
                                id="ten_giang_vien_update">
                        <small class="text-danger" id="errorTenGiangVienUpdate"></small><br>
                        <label class="col-form-label">Số nhóm hướng dẫn</label>
                        <input
                                type="text"
                                class="form-control"
                                id="so_nhom_update">
                        <small class="text-danger" id="errorSoNhomHDUpdate"></small><br>
                        <label class="col-form-label">Tên tài khoản</label>
                        <input
                                maxlength="20"
                                type="text"
                                class="form-control"
                                id="ten_tai_khoan_update">
                        <small class="text-danger" id="errorTenTaiKhoanUpdate"></small><br>
                        <label class="col-form-label">Số điện thoại</label>
                        <input
                                maxlength="50"
                                type="text"
                                class="form-control"
                                id="so_dien_thoai_update">
                        <small class="text-danger" id="errorSDTUpdate"></small><br>
                        <label class="col-form-label">Email Fpt</label>
                        <input
                                maxlength="50"
                                type="text"
                                class="form-control"
                                id="emailFpt_update">
                        <small class="text-danger" id="errorEmailFptUpdate"></small><br>
                        <label class="col-form-label">Email Fe</label>
                        <input
                                type="text"
                                class="form-control"
                                id="emailFe_update">
                        <small class="text-danger" id="errorEmailFeUpdate"></small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary btn btn-light"
                            data-bs-dismiss="modal">Hủy
                    </button>
                    <button type="button"
                            class="btn btn-primary"
                            th:attr="onclick=|updateGVHD()|"
                    >
                        Cập nhật
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--   End Modal Remove -->
<script th:src="@{/assets/vendors/base/vendors.bundle.js}" type="text/javascript"></script>
<script th:src="@{/assets/demo/default/base/scripts.bundle.js}" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script th:src="@{/js/plugin/bootbox.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.js}"></script>
<script th:src="@{/js/custom/daotao/dtgiangVienHuongDan.js}" type="text/javascript"></script>
</body>
</html>