<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8"/>
    <title>Quản lý nhóm DATN | FCR FPT Polytechnic</title>
    <meta content="Static table examples" name="description">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" th:href="@{/assets/vendors/base/vendors.bundle.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/demo/default/base/style.bundle.css}" type="text/css"/>
    <link href="https://ap.poly.edu.vn/images/favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" th:href="@{/css/plugin/query-ui.css}" type="text/css">
    <link th:href="@{/css/plugin/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/custom/button-icon.css}" type="text/css"/>
</head>
<!-- end::Head -->

<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

    <div th:insert="~{fragment/header-fragment :: header}"></div>

    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

        <div th:insert="~{fragment/menu-fragment-dao-tao :: menu}"></div>

        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- END: Subheader -->
            <div>
                <div class="m-content">
                    <h3>Xem danh sách nhóm dự án tốt nghiệp theo đợt</h3>
                    <div class="mt-5">
                        <section class="fillter-area  mb-5">
                            <div class="m-portlet">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon">
                                    <i class="m-menu__link-icon flaticon-web"></i>
                                </span>
                                            <h3 class="m-portlet__head-text">
                                                Bộ lọc
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <form class="m-portlet__body"
                                      id="form_search"
                                      method="GET"
                                      th:action="@{/dao-tao/nhom-datn}">
                                    <div class="row">
                                        <div
                                                class="form-group d-inline col-md-6 col-10 d-flex justify-content-around align-items-center">
                                            <span class="fillter-name col-5 text-center" for="">Tìm mã nhóm</span>
                                            <input class="form-control col-6" id="maNhom" name="maNhom" type="text"
                                            >
                                        </div>
                                        <div
                                                class="form-group d-inline col-md-6 col-10 d-flex justify-content-around align-items-center">
                                            <span class="fillter-name col-5 text-center" for="">Chuyên ngành</span>
                                            <select class="form-control col-6" id="chuyenNganh" name="chuyenNganh">
                                                <option value="">Chọn chuyên ngành</option>
                                                <option th:each="chuyenhNganh : ${listChuyenNganh}"
                                                        th:text="${chuyenhNganh.getName}"
                                                        th:value="${chuyenhNganh.getId}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group d-inline col-md-6 col-12 d-flex justify-content-around align-items-center">
                                            <span class="fillter-name col-5 text-center" for="">Trạng thái:</span>
                                            <select class="form-control col-6"
                                                    id="trangThai" name="trangThai">
                                                <option hidden value="">Trạng thái</option>
                                                <option value="0">Mới thành lập</option>
                                                <option value="1">Chủ nhiệm bộ môn đã xác nhận</option>
                                                <option value="2">Giảng viên đã liên hệ</option>
                                                <option value="3">Cần sửa</option>
                                                <option value="4">Giảng viên đã chốt</option>
                                                <option value="5">Chủ nhiệm bộ môn đã chốt</option>
                                            </select>
                                        </div>
                                        <div
                                                class="form-group d-inline col-md-6 col-10 d-flex justify-content-around align-items-center">
                                            <span class="fillter-name col-5 text-center" for="">Đợt đăng ký</span>
                                            <select class="form-control col-6" id="dotDangKy" name="dotDangKy">
                                                <option value="">Chọn đợt đăng ký</option>
                                                <option th:each="dotDangKy : ${listDotDangKy}"
                                                        th:text="${dotDangKy.getName}"
                                                        th:value="${dotDangKy.getId}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row justify-content-center pt-2">
                                        <div class="col-sm-2 col-12 text-center mt-2">
                                            <button class="btn btn-primary" type="button" th:attr="onclick=|loadDataNhomDatn(0)|"
                                               >Tìm
                                                kiếm</button>
                                        </div>
                                        <div class="col-sm-2 col-12 text-center mt-2">
                                            <a class="btn btn-danger text-white"
                                               href="#" onclick="clearform();">
                                                Làm mới bộ lọc
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                        <div class="m-portlet">
                            <div class="m-portlet">
                                <div class="m-portlet__body">
                                    <div class="row">
                                        <!--   export excel-->
                                        <div class="col-4 d-inline float-left">
                                            <button  class="btn btn-success" type="button" th:attr="onclick=|openModalExportExcel()|">
                                                Export
                                            </button>
                                            <div aria-hidden="true"
                                                 aria-labelledby="exampleModalLabel"
                                                 class="modal fade "
                                                 id="modal_excel"
                                                 tabindex="-1">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <form id="form_type_excel">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Export
                                                                    Excel</h5>
                                                                <button aria-label="Close" class="close"
                                                                        data-bs-dismiss="modal"
                                                                        type="button">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <p class="col-form-label">Định dạng file excel </p>
                                                                    <select class="form-control col-5" id="type_excel">
                                                                        <option value="">Chọn kiểu file excel</option>
                                                                        <option value="xls">.xls</option>
                                                                        <option value="xlsx">.xlsx</option>
                                                                    </select>
                                                                    <span class="text-danger"
                                                                          id="type_excel_error"></span>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-outline-secondary btn btn-light" data-bs-dismiss="modal"
                                                                        type="button">Hủy
                                                                </button>
                                                                <button type="button" class="btn btn-primary" th:attr="onclick=|exportFileExcel()|">Download
                                                                    excel
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--   hiển thị danh sách chi tiết-->
                                        <div class="col-6 d-inline"
                                        >
                                            <div aria-hidden="true"
                                                 aria-labelledby="exampleModalLabel"
                                                 class="modal fade"
                                                 id="modal_show_detail"
                                                 tabindex="-1">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <form id="form_create_sinh_vien">
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label class="col-form-label">Danh sách thành viên
                                                                        nhóm</label>
                                                                    <hr>
                                                                    <table class="table table-bordered m-table d-sm-table m-table--head-bg-primary"
                                                                           id="custom-table">
                                                                        <!-- hear-->
                                                                        <thead>
                                                                        <th>STT</th>
                                                                        <th>Mã sinh viên</th>
                                                                        <th>Tên sinh viên</th>
                                                                        </thead>
                                                                        <!-- body-->
                                                                        <tbody id="show_Dssv">
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                                        Table body-->
                                    <div class="table-responsive mt-3">
                                        <div class="mt-3">
                                            <table style="text-align: center"
                                                   class="table table-bordered m-table d-sm-table m-table--head-bg-primary"
                                                   id="custom-table1">
                                                <thead class="table-primary">
                                                <th width="40px">STT</th>
                                                <th width="70px">Mã nhóm</th>
                                                <th>Môn đăng ký</th>
                                                <th>Tên đề tài</th>
                                                <th>Chuyên nghành</th>
                                                <th width="95px">Số thành viên</th>
                                                <th>GVHD</th>
                                                <th>Trạng thái</th>
                                                <th width="50px">Hành động</th>
                                                </thead>
                                                <tbody id="listNhomDatn">
                                                <th:block th:each="nhomDatn : ${page.data}">
                                                    <tr class="table-light">
                                                        <td th:text="${nhomDatn.getStt()}"></td>
                                                        <td th:text="${nhomDatn.maNhom}"></td>
                                                        <td th:text="${nhomDatn.getTenMonDatn}"></td>
                                                        <td th:text="${nhomDatn.tenDeTai} != null ? ${nhomDatn.tenDeTai} : 'Chưa có'"></td>
                                                        <td th:text="${nhomDatn.tenChuyenNganh}"></td>
                                                        <td th:text="${nhomDatn.countSinhVien} + '/7'"></td>
                                                        <td th:text="${nhomDatn.tenGvhd} != null ? ${nhomDatn.tenGvhd}  + ' - ' + ${nhomDatn.getTenTaiKhoan()} : 'Chưa có'"></td>
                                                        <td th:text="${nhomDatn.getTrangThai()}==0?'Mới thành lập':(${nhomDatn.getTrangThai()}==1?'Đã liên hệ giảng viên':(${nhomDatn.getTrangThai()}==2?'Sẵn sàng phê duyệt':(${nhomDatn.getTrangThai()}==3?'Cần sửa':(${nhomDatn.getTrangThai()}==4?'Giảng viên đã chốt':'Chủ nhiệm bộ môn đã chốt'))))">
                                                        <td>
                                                            <button class="btn_eye"
                                                                    th:attr="onclick=|openModalDanhSachSinhVien('${nhomDatn.getId()}')|"
                                                                    data-toggle="tooltip"
                                                                    title="Xem chi tiết nhóm"
                                                                    type="button"
                                                            >
                                                                <img th:src="@{/img/eye-fill.svg}">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                                </tbody>
                                            </table>

                                            <!-- Paging-->
                                            <nav aria-label="Page navigation" th:if="${page.totalPages > 1}">
                                                <ul class="pagination justify-content-end" id="page">
                                                </ul>
                                            </nav>
                                        </div>
                                        <input hidden id="totalPages" th:value="${page.totalPages}">
                                        <input hidden id="currentPage" th:value="${page.currentPage}">
                                        <div id="empty">
                                        <input hidden id="checkData" th:value="${page.data.isEmpty()}">
                                            <div th:if="${page.data.isEmpty()}">
                                                <h3>Không có dữ liệu</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Body -->
</div>

<script th:src="@{/assets/vendors/base/vendors.bundle.js}" type="text/javascript"></script>
<script th:src="@{/assets/demo/default/base/scripts.bundle.js}" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
<script th:src="@{/js/custom/daotao/dtNhomDatnTheoDot.js}" type="text/javascript"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.js}"></script>
<script th:src="@{/js/plugin/bootbox.min.js}"></script>
<script th:src="@{/js/plugin/bootbox.locales.min.js}"></script>
</body>
</html>